.cart{
    border: 2px solid black;
    height: 300px;
    width: 200px;
    float: right;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 3%;  
    background-color: white;
    z-index: 10;
    padding: 20px;
    overflow-x: hidden; 
    overflow-y: auto; 
}

.checkout-btn{
    position: sticky;
    width: 100%;
    bottom: 0;
    right: 0;
    margin-top: auto;
}