$sub-color: grey;
$main-color: black;

@mixin shiftlabel {
    top: 15px;
    font-size: small;
}
.input{
    position: relative;
    padding-top: 40px;
    .input-form{
        display: block;
        width: 100%;
        border-top: 0px;
        border-left: 0px;
        border-right: none;
        border-bottom: 1px solid $sub-color;
        color: $sub-color;
        margin-top: 0;
        font-size: larger;

        &:focus{
            outline: none;
        }
        &:focus ~ label{
            @include shiftlabel()
        }
    }

    .label{
        display: block;
        text-align: start !important;
        position: absolute;
        top: 35px;
        color: $sub-color;
        transition: .5s ease-in;
        &.shrink{
            @include shiftlabel()
        }
    }
    input[type='password'] {
        letter-spacing: 0.3em;
      }
}