.forms{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 480px){
    .forms{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
