.collection-item{

    display: flex;
    flex-direction: column;
    height: 350px;
    width: 250px;
    .image-container{
        height: 100%;
        width: 100%px;
        background-size: cover;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease-in;
        .cart-btn{
            position: absolute;
            bottom: 20px;
            padding: 10px 30px;
            left: 50%;
            transform: translate(-50%);
            opacity: 0.7;
            width: 60%;
            text-align: center;
            text-transform: uppercase;
            background-color: #fff;
            color: black;
            cursor: pointer;
            font-size: small;

            &:hover {
                background-color: black;
                color: white;
                opacity: 1;
            }
        }
        &:hover{
            opacity: 0.8;
        }
    }
    .details{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {
    .collection-item {
      width: 100% !important;
     
    }
}