.lg {
    padding: 15px !important;
    font-size: larger !important;
}

.sm {
    padding: 10px !important;
    font-size: small !important;
}

.white{
    color: white !important;
    
}

.black{
    color: black !important;
}

.bg-white{
    background-color: #fff !important;
    border: 2px solid black !important;
}

.bg-black{
    background-color: black !important;
}
.btn{
    display: inline-block;
    border: none;
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: all o.2s ease-in;
    &:hover{
        color: black !important;
        background-color: white !important;
        border: 1px black solid;
    }

    &:not(:last-child){
        margin-right: 10px;
    }
}