.check-out-item-wrapper{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 30px 0px;

    .check-out-item-image{
        height: 100%;
    }

    .check-out-item-qty{
        display: flex;
        flex-direction: row;
        align-items: center;

        .check-out-item-qty-control{
            font-weight: 700;
            margin: 0px 10px;
        }
    }

    .remove-btn{
        cursor: pointer;
        font-weight: 900;
        font-size: larger;
    }
}

@media screen and (max-width: 480px){
    .check-out-item-image{
        width: 40%;
        max-height: 40%;
    }

    .check-out-item-wrapper{
        height: 100%;
    }

    .item-head{
        display: none !important;
    }
}
