.chech-out{
    margin: 20px 10px;
    .check-out-table{
        padding: 0px 15%;
        .empty-cart-svg{
            text-align: center;
            padding: 20px 10px;
            height: 300px;
        }
    }
    .item-head{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid #000;
    }

    .check-out-totalcost{
        float: right;
        font-size: larger;
    }
}

.text-center{
    text-align: center;
}