.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: fixed;
    max-width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;
    background-color: white;
    z-index: 2;

    .header-links{
        display: flex;
        text-transform: uppercase;
        align-items: center;

        div:not(:last-child){
            margin-right: 60px;
        }
        .link{
            cursor: pointer;
        }
        .cart-logo{
            position: relative;
            cursor: pointer;

            .cart-counter{
                position: absolute;
                top: 50%;
                right: 50%;
                // padding: 5px;
                transform: translate(50%, -50%);
            }
        }
    }

    .menu-icon{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .header-links{
        display: none !important;
    }

    .header{ 
        padding: 15px 20px;
        
        .menu-icon{
        display: block;
        }

        .mobile-menu{
            width: 100vw;
            height: 100vh;
            background-color: white;
            position: absolute;
            z-index: 1;
            opacity: 0.9;
        }
    }
}