body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 480px){
  body {
    margin-top: 40px;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 480px){
  body{
    padding: 10px 20px;
  }
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before { background-color: black !important; }

.burger.burger-squeeze.open .burger-lines {
  background-color: transparent !important;
}
