.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

// @media screen and (min-width: 480px) {
//     .homepage {
//         padding: 200px 5px;
//     }
// }

@media screen and (max-width: 480px) {
    .homepage {
      padding: 0;
     
    }
}