.cart-item{
    display: flex;
    justify-content: space-between;
    height: 30%;
    margin-bottom: 15px;
}

.cart-item-image{
    max-height: 100%;
   
}

/* .cart-item-detail{
    margin-left: 20px;

} */